<?xml version="1.0"?>

<config>
    <modules>
        <Imaginato_CartPrompSales>
            <version>0.0.2</version>
        </Imaginato_CartPrompSales>
    </modules>
    <global>
        <models>
            <cartprompsales>
                <class>Imaginato_CartPrompSales_Model</class>
                <resourceModel>cartprompsales_resource</resourceModel>
            </cartprompsales>
            <cartprompsales_resource>
                <class>Imaginato_CartPrompSales_Model_Resource</class>
                <entities>
                    <product>
                        <table>sale_cartprompsales_product</table>
                    </product>
                </entities>
            </cartprompsales_resource>
        </models>
        <resources>
            <imaginato_cartprompsales_setup>
                <setup>
                    <module>Imaginato_CartPrompSales</module>
                    <class>Imaginato_CartPrompSales_Model_Resource_Setup</class>
                </setup>
            </imaginato_cartprompsales_setup>
        </resources>
        <blocks>
            <cartprompsales>
                <class>Imaginato_CartPrompSales_Block</class>
            </cartprompsales>
        </blocks>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <cartprompsales>
                        <class>cartprompsales/observer</class>
                        <method>addCartCheck</method>
                    </cartprompsales>
                </observers>
            </checkout_cart_product_add_after>
            <sales_quote_collect_totals_before>
                <observers>
                    <cartprompsales>
                        <class>cartprompsales/observer</class>
                        <method>checkPrompSalesProduct</method>
                    </cartprompsales>
                </observers>
            </sales_quote_collect_totals_before>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <cartprompsales>
                    <file>imaginato/cartprompsales.xml</file>
                </cartprompsales>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <cartprompsales before="Mage_Adminhtml">Imaginato_CartPrompSales_Adminhtml</cartprompsales>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	<frontend>
        <layout>
              <updates>
                  <cartprompsales>
                      <file>imaginato/cartprompsales.xml</file>
                  </cartprompsales>
              </updates>
        </layout>
    </frontend>
    <default>
        <cartprompsales>
            <generl>
                <active>0</active>
                <block_enable>1</block_enable>
                <block_check>1</block_check>
                <block_id>cart_promp_sales</block_id>
                <text_block_id>cart_promp_sales_text</text_block_id>
                <check_to_cart>0</check_to_cart>
                <check_to_cart_total>400</check_to_cart_total>
                <check_to_add>1</check_to_add>
                <price_show>1</price_show>
            </generl>
        </cartprompsales>
    </default>
</config>
