<?xml version="1.0"?>
<config>
    <modules>
        <Imaginato_Size>
            <version>1.0.0</version>
        </Imaginato_Size>
    </modules>
    <frontend>
        <routers>
            <size>
                <use>standard</use>
                <args>
                    <module>Imaginato_Size</module>
                    <frontName>size</frontName>
                </args>
            </size>
        </routers>
        <layout>
            <updates>
                <size>
                    <file>size.xml</file>
                </size>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <imaginato_size>
                    <file>imaginato/size.xml</file>
                </imaginato_size>
            </updates>
        </layout>
        <size>
            <browser>
                <dirs>
                    <exclude>
                    </exclude>
                    <include/>
                </dirs>
                <extensions>
                    <allowed>
                        <jpg>1</jpg>
                        <jpeg>1</jpeg>
                        <png>1</png>
                        <gif>1</gif>
                    </allowed>
                    <image_allowed>
                        <jpg>1</jpg>
                        <jpeg>1</jpeg>
                        <png>1</png>
                        <gif>1</gif>
                    </image_allowed>
                    <media_allowed>
                        <flv>1</flv>
                        <swf>1</swf>
                        <avi>1</avi>
                        <mov>1</mov>
                        <rm>1</rm>
                        <wmv>1</wmv>
                    </media_allowed>
                </extensions>
                <window_width>1000</window_width>
                <window_height>600</window_height>
                <resize_width>100</resize_width>
                <resize_height>75</resize_height>
            </browser>
        </size>
    </adminhtml>
    <global>
        <models>
            <size>
                <class>Imaginato_Size_Model</class>
                <resourceModel>size_resource</resourceModel>
            </size>
            <size_resource>
                <class>Imaginato_Size_Model_Resource</class>
                <entities>
                    <block>
                        <table>imaginato_size_block</table>
                    </block>
                    <block_store>
                        <table>imaginato_size_block_store</table>
                    </block_store>
                    <block_product>
                        <table>imaginato_size_block_product</table>
                    </block_product>
                </entities>
            </size_resource>
        </models>
        <resources>
            <imaginato_size_setup>
                <setup>
                    <module>Imaginato_Size</module>
                </setup>
            </imaginato_size_setup>
        </resources>
        <helpers>
            <size>
                <class>Imaginato_Size_Helper</class>
            </size>
        </helpers>
        <blocks>
            <size>
                <class>Imaginato_Size_Block</class>
            </size>
        </blocks>
        <size>
            <block>
                <tempate_filter>cms/template_filter</tempate_filter>
            </block>
        </size>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <size after="Mage_Adminhtml">Imaginato_Size_Adminhtml</size>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <web>
            <default>
                <size_home_page>home</size_home_page>
                <size_no_route>no-route</size_no_route>
                <size_no_cookies>enable-cookies</size_no_cookies>
                <front>size</front>
                <no_route>size/index/noRoute</no_route>
                <show_size_breadcrumbs>1</show_size_breadcrumbs>
            </default>
        </web>
        <size>
            <wysiwyg>
                <enabled>enabled</enabled>
            </wysiwyg>
        </size>
        <system>
            <media_storage_configuration>
                <allowed_resources>
                    <wysiwyg_image_folder>wysiwyg</wysiwyg_image_folder>
                </allowed_resources>
            </media_storage_configuration>
        </system>
    </default>
</config>
