<config>
    <modules>
        <Imaginato_ElasticSearchExt>
            <version>1.0.0</version>
        </Imaginato_ElasticSearchExt>
    </modules>
    <global>
        <blocks>
            <imaginato_elasticsearchext>
                <class>Imaginato_ElasticSearchExt_Block</class>
            </imaginato_elasticsearchext>
            <catalog>
                <rewrite>
                    <product_list>Imaginato_ElasticSearchExt_Block_Catalog_Product_List</product_list>
                </rewrite>
            </catalog>
            <smile_elasticsearch>
                <rewrite>
                    <catalog_layer_view>Imaginato_ElasticSearchExt_Block_Catalog_Layer_View</catalog_layer_view>
                </rewrite>
            </smile_elasticsearch>
        </blocks>
        <models>
            <imaginato_elasticsearchext>
                <class>Imaginato_ElasticSearchExt_Model</class>
                <resourceModel>imaginato_elasticsearchext_resource</resourceModel>
            </imaginato_elasticsearchext>
            <enterprise_catalog>
                <rewrite>
                    <product_url>Imaginato_ElasticSearchExt_Model_Product_Url</product_url>
                </rewrite>
            </enterprise_catalog>
            <imaginato_elasticsearchext_resource>
                <class>Imaginato_ElasticSearchExt_Model_Resource</class>
            </imaginato_elasticsearchext_resource>
            <smile_elasticsearch_resource>
                <rewrite>
                    <catalog_product_collection>Imaginato_ElasticSearchExt_Model_Resource_Catalog_Product_Collection</catalog_product_collection>
                    <engine_elasticsearch>Imaginato_ElasticSearchExt_Model_Resource_Engine_Elasticsearch</engine_elasticsearch>
                    <engine_elasticsearch_query_fulltext>Imaginato_ElasticSearchExt_Model_Resource_Engine_Elasticsearch_Query_Fulltext</engine_elasticsearch_query_fulltext>
                    <engine_elasticsearch_mapping_product>Imaginato_ElasticSearchExt_Model_Resource_Engine_Elasticsearch_Mapping_Product</engine_elasticsearch_mapping_product>
                    <engine_index>Imaginato_ElasticSearchExt_Model_Resource_Engine_Index</engine_index>
                </rewrite>
            </smile_elasticsearch_resource>
            <smile_elasticsearch>
                <rewrite>
                    <index_action_fulltext_refresh_changelog>Imaginato_ElasticSearchExt_Model_Index_Action_Fulltext_Refresh_Changelog</index_action_fulltext_refresh_changelog>
                </rewrite>
            </smile_elasticsearch>
            <enterprise_catalogsearch>
                <rewrite>
                    <index_action_fulltext_refresh_row>Imaginato_ElasticSearchExt_Model_Index_Action_Fulltext_Refresh_Row</index_action_fulltext_refresh_row>
                </rewrite>
            </enterprise_catalogsearch>
        </models>
        <helpers>
            <imaginato_elasticsearchext>
                <class>Imaginato_ElasticSearchExt_Helper</class>
            </imaginato_elasticsearchext>
        </helpers>
        <events>
            <catalog_product_delete_commit_after>
                <observers>
                    <imaginato_elasticsearchext>
                        <class>imaginato_elasticsearchext/observer</class>
                        <method>cleanProductAfterDelete</method>
                    </imaginato_elasticsearchext>
                </observers>
            </catalog_product_delete_commit_after>
        </events>
    </global>
    <default>
        <catalog>
        <search>
            <elasticsearch_batch_indexing_size>500</elasticsearch_batch_indexing_size>
        </search>
        </catalog>
        <elasticsearch_advanced_search_settings>
            <debug_log>
                <enable>1</enable>
                <search_min_size>100</search_min_size>
                <refresh_max_size>500</refresh_max_size>
            </debug_log>
        </elasticsearch_advanced_search_settings>
    </default>
</config>