<?xml version="1.0"?>

<config>
    <modules>
        <Imaginato_Wishlist>
            <version>0.0.1</version>
        </Imaginato_Wishlist>
    </modules>
    <frontend>
        <routers>
            <wishlist>
                <args>
                    <modules>
                        <imaginato_wishlist before="Enterprise_Wishlist">Imaginato_Wishlist</imaginato_wishlist>
                    </modules>
                </args>
            </wishlist>
        </routers>
    </frontend>
</config>
