<?xml version="1.0"?>
<config>
    <modules>
        <Imaginato_Bergen>
            <version>0.0.1</version>
        </Imaginato_Bergen>
    </modules>
    <global>
        <models>
            <imaginato_bergen>
                <class>Imaginato_Bergen_Model</class>
            </imaginato_bergen>
            <sales>
                <rewrite>
                    <order_api>Imaginato_Bergen_Model_Order_Api</order_api>
                    <order_api_v2>Imaginato_Bergen_Model_Order_Api_V2</order_api_v2>
                </rewrite>
            </sales>
        </models>
        <blocks>
            <imaginato_bergen>
                <class>Imaginato_Bergen_Block</class>
            </imaginato_bergen>
        </blocks>
        <resources>
            <imaginato_bergen_setup>
                <setup>
                    <module>Imaginato_Bergen</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </imaginato_bergen_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <imaginato_bergen>
                    <file>imaginato/bergen.xml</file>
                </imaginato_bergen>
            </updates>
        </layout>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <imaginato_bergen_order_action>
                        <type>model</type>
                        <class>imaginato_bergen/observer</class>
                        <method>addMassAction</method>
                    </imaginato_bergen_order_action>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <imaginato_bergen before="Mage_Adminhtml">Imaginato_Bergen_Adminhtml</imaginato_bergen>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>