<?xml version="1.0"?>
<config>
    <sections>
        <cataloginventory translate="label" module="cataloginventory">
            <label>Inventory</label>
            <tab>catalog</tab>
            <frontend_type>text</frontend_type>
            <sort_order>50</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <item_sysnc translate="label comment">
                    <comment><![CDATA[<strong>Note</strong> that this cron will run every 2 hours if enabled.]]></comment>
                    <label>US Warehouse and Bergen Sync Mode</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label">
                            <label>Enable Cron Job</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enable>
                    </fields>
                </item_sysnc>
            </groups>
        </cataloginventory>
    </sections>
</config>
