<?xml version="1.0"?>
<config>
    <modules>
        <Imaginato_GiftCardAccount>
            <version>0.0.1</version>
        </Imaginato_GiftCardAccount>
    </modules>
    <frontend>
        <routers>
            <enterprise_giftcardaccount>
                <args>
                    <modules>
                        <imaginato_giftcardaccount before="enterprise_giftcardaccount">Imaginato_GiftCardAccount</imaginato_giftcardaccount>
                    </modules>
                </args>
            </enterprise_giftcardaccount>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <imaginato_giftcardaccount before="enterprise_giftcardaccount">Imaginato_GiftCardAccount_Adminhtml</imaginato_giftcardaccount>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <blocks>
            <imaginato_giftcardaccount>
                <class>Imaginato_GiftCardAccount_Block</class>
            </imaginato_giftcardaccount>
            <enterprise_giftcard>
                <rewrite>
                    <sales_order_item_renderer>Imaginato_GiftCardAccount_Block_Sales_Order_Item_Renderer</sales_order_item_renderer>
                </rewrite>
            </enterprise_giftcard>
        </blocks>
        <models>
            <enterprise_giftcard>
                <rewrite>
                    <observer>Imaginato_GiftCardAccount_Model_Observer</observer>
                </rewrite>
            </enterprise_giftcard>
            <payment>
                <rewrite>
                    <method_cashondelivery>Imaginato_GiftCardAccount_Model_Method_Cashondelivery</method_cashondelivery>
                </rewrite>
            </payment>
        </models>
        <events>
            <sales_order_payment_place_end>
                <observers>
                    <imaginato_giftcard>
                        <class>Imaginato_GiftCardAccount_Model_Observer</class>
                        <method>paymentPlaceEnd</method>
                    </imaginato_giftcard>
                </observers>
            </sales_order_payment_place_end>
        </events>
    </global>
</config>