.outer-slide {
    position: relative;
    margin: 0 auto;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.outer-slide .loading {
    position: absolute; 
    top: 0px; 
    left: 0px;
    width: 100%;
    height: 100%;
    display: block; z-index: 1;
}
.outer-slide .loading .bg-loading {
    position: absolute; 
    display: block;
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%;
    background: #fff;
}
.outer-slide .loading .icon-loading {
    position: absolute; 
    display: block; 
    background: url('../images/loading.gif') no-repeat center center;
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%;
}
.outer-slide [data-u="slides"] {
    cursor: move; 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    overflow: hidden;
}
.outer-slide [data-u="navigator"] {
    position: absolute; bottom: 10px; left: 10px;
    opacity: 0; filter:alpha(opacity=0);
}
.outer-slide:hover [data-u="navigator"] {
    opacity: 1; filter:alpha(opacity=100);
}
.outer-slide [data-u="navigator"] [data-u="prototype"] {
    position: absolute;
    height: 12px;
    width: 12px;
    text-align:center;
    line-height:12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.4; filter:alpha(opacity=40);
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
}
.outer-slide [data-u="arrowleft"] {
    width: 50px;
    height: 50px;
    top: 123px;
    left: 8px;
    background: #fff;
    color: #666;
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    line-height: 50px;
    text-align: center;
    display: block;
    cursor: pointer;
    position: absolute;
    opacity: 0; filter:alpha(opacity=0);
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
}
.outer-slide:hover [data-u="arrowleft"],
.outer-slide:hover [data-u="arrowright"] {
    opacity: 1; 
}
.outer-slide [data-u="arrowright"] {
    width: 50px;
    height: 50px;
    top: 123px;
    right: 8px;
    background: #fff;
    color: #666;
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    line-height: 50px;
    text-align: center;
    display: block;
    cursor: pointer;
    position: absolute;
    opacity: 0; filter:alpha(opacity=0);
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
}
.outer-slide [data-u="arrowright"]:hover,
.outer-slide [data-u="arrowleft"]:hover,
.outer-slide [data-u="navigator"] [data-u="prototype"]:hover,
.outer-slide:hover [u="navigator"],
.outer-slide [data-u="navigator"] [data-u="prototype"].av {
    opacity: 1; filter:alpha(opacity=100);
}
 #slider_row img{width:100%;}
.large-slide-title{
    color:#ffffff;
    background-color:transparent;
    text-decoration:none;
    text-transform:uppercase;
    font-size:40px;
    line-height:40px;
    border-width:0px;
    border-color:rgb(255, 255, 255);
    border-style:none;
    font-weight:bold;
}
.big-slide-title, .small-slide-title{
    color:#ffffff;
    background-color:transparent;
    font-size:60px;
    line-height:60px;
    text-decoration:none;
    text-transform:uppercase;
    padding:10px 15px;
    border-width:0px;
    border-color:rgb(255, 255, 255);
    border-style:none;
    font-weight:bold;
}
a.slide-button {
    color:#ffffff;
    text-decoration:none;
    text-transform:uppercase;
    font-size:18px;
    padding:5px 20px;
    border:1px solid #fff;
    height:32px;
    line-height:32px;
    color:#fff !important;
    background:transparent;
    text-shadow:none;
}
a.slide-button:hover{
    background:#f2532f;
}
.large-slide-title{
    position: absolute;
    right: 360px;
    width: 700px; 
    top: 195px;
    height: 30px; 
    text-align: center;
}
.big-slide-title{
    position: absolute;
    right: 360px;
    width: 700px;
    top: 250px;
    height: 40px;
    text-align: center;
}
.small-slide-title{
    position: absolute;
    right: 360px; 
    width: 700px; 
    top: 275px; 
    height: 80px;
    line-height: 20px;
    text-align: center;
}
.shop_now{
    position: absolute;
    right: 360px; 
    width: 700px;
    top: 355px;
    text-align: center;
}
.demo_slideshow .big-slide-title{top:255px;}
.demo_slideshow .field-main-slider_2 .big-slide-title{left:330px!important;}
.demo_slideshow .field-main-slider_1 .big-slide-title{left:600px!important;}
.demo_slideshow .field-main-slider_2 .large-slide-title, .demo_slideshow .field-main-slider_2 .small-slide-title, .demo_slideshow .field-main-slider_2 .shop_now {right:880px;}
.demo_slideshow .field-main-slider_1 .large-slide-title, .demo_slideshow .field-main-slider_1 .big-slide-title,  .demo_slideshow .field-main-slider_1 .small-slide-title, .demo_slideshow .field-main-slider_1 .shop_now {right:610px;}
.demo_slideshow .field-main-slider_3 .large-slide-title{ right:420px; top:310px;}
.demo_slideshow .field-main-slider_3 .shop_now{ right: 240px; top:313px; }
.demo_slideshow .field-main-slider_3 .big-slide-title{ top:215px!important; right:360px!important;}