.v-megamenu-title{
    background: none repeat scroll 0 0 #1E1E21;
    padding: 10px 17px;
    text-align:left;
}
.v-megamenu-title .icon-align-justify{
    color: #ffffff;
    font-size: 24px;
}
.v-megamenu{
    border: 1px solid #d6d4d4;
    box-shadow: 0 0 0 1px #fff inset;
}
.v-megamenu-title h3{
    color: #ffffff;
    display: inline-block;
    font-size: 24px;
    margin: 0;
    text-transform: uppercase;
}
.v-megamenu-container i{ margin-right:10px; font-size: 18px; width:20px; text-align:center;}
.v-megamenu > ul {
	position: relative;
	width:100%;
}
.v-megamenu ul {
	list-style: none;
}
#page .v-megamenu ul li a {
	display: block;
	}
#page .v-megamenu .v-main-section-sublinks li a {
	color:#191919;
	display: inline-block;
	}
.v-megamenu > ul > li {
	text-transform: uppercase;
	padding-bottom: 0px;
	position: relative;
	text-align:left;
}
.v-megamenu > ul > li:last-child a{
    border:0; box-shadow:none;
}

.v-megamenu > ul > li:hover > a{
    color:#fff;
    box-shadow:0 1px transparent;
    border-color:transparent;
}
.v-megamenu > ul > li:hover a.opener:before{
    color:#fff;
}
.v-megamenu-container{ display:block; float:left;
width:100%;}
.v-megamenu ul{ margin-bottom:0; }
.v-megamenuitem a.opener {
	position: absolute;
	top:6px;
	right: -10px;
	width:40px;
	height: 40px;
	padding: 0;
	margin: 0;
	text-align: center;
}
.v-megamenu .more-vmegamenu a{
    cursor:pointer;
    font-size:20px;
}
.v-megamenuitem a.opener{ box-shadow:none; border:0;}
.v-megamenuitem a.opener:before {
	font-family:fontawesome;
	content:"\f105";
	line-height: 26px;
	text-transform: none;
	font-size: 18px;	
	padding-right:20px;
        color:#444;
}
.v-megamenu > ul > li:hover + a{
    background:#f2532f;
    transition:0.3s ease-in-out 0s;
}
.v-megamenuitem > a > img {margin-right: 5px;}
.v-megamenu > ul > li div.submenu {
	display: none;
	top:0px;	
	width:auto;
	z-index: 99999;
	position: absolute;
	background-color: #fff;
	background-position: 100% 100%;
	background-repeat: no-repeat;
	-webkit-animation-duration: .6s;
          animation-duration: .6s;
  	-webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.v-megamenu > ul > li div.submenu {left:100%;}
.v-megamenu > ul > li div.submenu.right-co {
	width:587px
	}
.v-megamenu > ul > li div.submenu.full-width {
	width:600px
	}
.submenu.full-width .section-indent{ padding:15px; }	
.v-megamenu .v-bottom-section .section-indent .imagelink{padding: 0 15px 15px 15px; margin-top:-15px;}
.v-megamenu > ul > li > a {	
    border-bottom: 1px solid #d6d4d4;
    box-shadow: 0 1px #fff;
    display: block;
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    padding: 11px 15px;
}

/* ######## SECTIONS STRUCTURE ############ */

.v-megamenu .right-section {
	width:205px;
	float:right;
	min-height: 20px;
}
.v-megamenu .v-main-section {
	width:100%;
	float:left;
	min-height: 20px;
}
.v-megamenu .v-bottom-section {
	width:100%;
	float:none;
	clear:both;
	position: relative;
}

.v-megamenu .submenu .v-main-section.only-right {
	width:380px;
}
.v-megamenu .sections-contaier.full-width {
	width:100%;
	}
.v-megamenu .section-indent {
	padding:14px 0 16px 15px;
	overflow: hidden;
}
.v-megamenuitem .submenu{ z-index:32 !important;  }

.v-megamenu .right-section .section-indent{     padding-bottom: 30px;
    padding-right: 30px;
    padding-top: 30px;}

/* VIDEO */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* ADVERT IMAGES */

/* MENU PRODUCT */
.menu-product .product-image-link {
	display: block;
	margin-bottom: 15px;
	}
.menu-product img {
	width: 100%;
	height: auto;
	display: block;
	}
.menu-product-title {
	margin-bottom: 15px;
	text-transform: uppercase;
	font-weight: bold;
}
.menu-product-name {
	color: #696c6a;
	font-size: 19px;
	text-transform: none;
	display: block;
	line-height: 26px;
}
.menu-product .price-container {
	display: block;
	width:70px;
	height: 70px;
	line-height: 70px;	
	border-radius:50%;
	position: absolute;
	right:0;
	bottom:30px;
	}
.menu-product .price-container.reduction {
	line-height: 20px;
	}
.menu-product .price-container.reduction .price {
	margin-top: 15px;
}
.menu-product .price,
.menu-product .old_price {
	font-size: 16px;
	color: #FFF;
	display: inline-block;
	}
.menu-product .price {
	font-weight: bold;
	}
.menu-product .old_price {
	text-decoration: line-through;
	}
.menu-product li {text-align: center; position: relative;}
/* ######## END SECTIONS STRUCTURE ############ */

/* ######## MAIN SECTION ############ */
.v-main-section-products .product-image-link img {
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 15px;
	}
.v-megamenu .v-main-section-products > li,
.v-megamenu .v-main-section-links > li {
	float: left;
	width:182px;;
	padding:0 15px;
    margin:6px 0;
}
.v-megamenu-container img:hover{opacity:0.8;}
.v-main-section-links > li {
	text-align: left;
	}
.v-main-section-links > li > a {
	color:#191919 ;
	font-size:18px;
	text-transform: uppercase;
	display:block;
	padding:7px 0;
		}
.v-megamenuitem.narrow .v-main-section-links > li > a {
	text-transform: none;
	font-weight: normal;
}
.v-main-section-sublinks {
	
	}
.v-main-section-sublinks li {
	color:#555555;
	font-size:20px;
	padding:5px 0;	}
.v-main-section-sublinks li ul {
	display: none;
}
.v-main-section-sublinks li a {
	font-size: 15px;
	text-transform: none;
	}
.v-main-section-sublinks.level_0 ul {
	margin: 15px 0 0 10px;
}
.v-main-section-sublinks.level_0 ul li {
	margin-top: 5px;
	}
.v-main-section-sublinks.level_0 ul li a{
	font-size: 14px;
	}
#page .v-main-section-sublinks li a:hover{  
	transition: all 0.5s ease-in-out 0s; 
  	-webkit-transition: all 0.5s ease-in-out 0s;
        -moz-transition: all 0.5s ease-in-out 0s;
	color:#f2532f ;
	}
.v-main-section-sublinks li a:before {
	content: "\f111";
	display:block;
	font-family: FontAwesome;
	margin-right:10px;
	font-size:10px;
	float:left;
	
	}
.v-main-section-sublinks li a.opener:before {
	background: none;
	height: auto;
}
.v-main-section-products .li-indent {
	padding-right: 20px;
	}
.v-main-section-products .price-container {
	right:15px
}

.v-main-section-cmsp {
	font-size: 14px;
	text-transform: none;
	}
.v-main-section-products > li,
.v-main-section-links > li {
	width: 33.33%;
}


/* ######## BOTTOM SECTION ############ */
.bottom-title,
.main-title,
.right-title {
	font-weight: bold;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom:1px solid #eee
	}
.v-bottom-section-links > li {
	float: left;
	margin-bottom: 30px;
	text-align: center;
	width:20%
}
.v-bottom-section-links > li {
	text-align: left;
	}
.v-bottom-section-links > li > a {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
}
.v-bottom-section-sublinks {
	margin-top: 30px;
	}
.v-bottom-section-sublinks li {
	margin-top: 20px;
	}
.v-bottom-section-sublinks li:first-child {
	margin-top: 0;
}
.v-bottom-section-sublinks li ul {
	display: none;
}
.v-bottom-section-sublinks li a {
	font-size: 15px;
	text-transform: none;
	}
.v-bottom-section-sublinks.level_0 ul {
	margin: 15px 0 0 10px;
}
.v-bottom-section-sublinks.level_0 ul li {
	margin-top: 5px;
	}
.v-bottom-section-sublinks.level_0 ul li a{
	font-size: 14px;
	}
.v-bottom-section-sublinks li a:before {
	content:"";
	display: inline-block;
	vertical-align: top;
	width: 6px;
	height: 6px;
	margin: 5px 10px 0 0;
	}
.v-megamenu > ul > li.narrow {position: relative;}
.v-megamenu > ul > li.narrow div.submenu {
	width: 200px;
}
.v-megamenu > ul > li.narrow .section-indent {padding: 0;}
.v-megamenu > ul > li.narrow .section-indent li {width:100%; float: none; margin: 0;}
.v-megamenu > ul > li.narrow .section-indent li a:not(.opener) {padding: 10px 0 10px 10px; display: block;}
.v-megamenu > ul > li.narrow .section-indent li a:hover {color:#888 !important}
.v-megamenu > ul > li.narrow .section-indent li ul {display: none; margin: 0; padding: 0;}

.v-megamenu .menu-info li {
	text-align: center;
	margin-bottom: 20px;
	}
.v-megamenu .menu-info li img {
	margin-bottom: 12px;
	}
.v-megamenu .menu-info li h4 {
	font: bold 18px/24px "PT Sans";
}
.v-megamenu .menu-info li h4:after {
	content: "";
	display: block;
	width: 30px;
	height: 3px;
	margin: 12px auto 20px;
}
.v-megamenu .menu-info li span {
	color:#6f6f6f;
	font:normal 14px/17px Arial
}
.v-megamenu .rei-indent {margin: 0;}

.vm-pr-nbs-flexisel-container,
.vm-man-nbs-flexisel-container {overflow: hidden; width: 100%;}
.vm-pr-nbs-flexisel-container .nbs-flexisel-inner,
.vm-man-nbs-flexisel-container .nbs-flexisel-inner {width:calc(100% + 20px)}
.v-right-section-products.nbs-flexisel-ul,
.v-bottom-section-links.nbs-flexisel-ul {
	width:10000%;
	position: relative;
	}
.v-right-section-products.nbs-flexisel-ul li {
	float: left;
	margin: 0;
	width:204px !important
	}
.v-bottom-section-links {width:calc(100% + 20px)}
.v-right-section-products.nbs-flexisel-ul li .li-indent,
.v-bottom-section-links li a {margin-right: 20px; position: relative; display: block;}
.v-bottom-section-links li a img {width: 100%; height: auto;}

.v-megamenu .flexisel-nav {
	width:30px;
	height: 20px;
	background: #ccc;
	float:left;
    border: 1px solid #e0e0e0;
    cursor:pointer;
    color:#9f9f9f;
    background-color:#fafafa;    
    box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.4);
    border-radius:3px;
    transition:background-color 0.3s, color 0.4s;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
	}
.v-megamenu .flexisel-nav:before {
	font-family: fontawesome;
	font-size:10px;
	line-height: 20px;
	display: block;
	width:100%;
	text-align: center;
	text-transform: none;
}
.v-megamenu .flexisel-nav:hover {color:#fff}
.v-megamenu .nbs-flexisel-nav-right:before {
	content: "\f054";
}
.v-megamenu .nbs-flexisel-nav-left:before {
	content: "\f053";
}
#page .v-megamenu .flexisel-nav-wrapper {
	position: absolute;
	width: 61px;
	top: 38px;
	right: 20px;
}
.nbs-flexisel-nav-left {margin-right: 1px;}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
            transform: translate3d(0, 10%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
            transform: translate3d(0, 10%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}