<?xml version="1.0"?>

<config>
    <modules>
        <Imaginato_MailChimp>
            <version>0.0.1</version>
        </Imaginato_MailChimp>
    </modules>
    <global>
        <models>
            <imaginato_mailchimp>
                <class>Imaginato_MailChimp_Model</class>
            </imaginato_mailchimp>
        </models>
        <blocks>
            <imaginato_mailchimp>
                <class>Imaginato_MailChimp_Block</class>
            </imaginato_mailchimp>
            <adminhtml>
                <rewrite>
                    <newsletter_subscriber_grid>Imaginato_MailChimp_Block_Adminhtml_Newsletter_Subscriber_Grid</newsletter_subscriber_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <imaginato_mailchimp>
                <class>Imaginato_MailChimp_Helper</class>
            </imaginato_mailchimp>
        </helpers>
        <resources>
            <imaginato_mailchimp_setup>
                <setup>
                    <module>Imaginato_MailChimp</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </imaginato_mailchimp_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <imaginato_mailchimp>
                <use>standard</use>
                <args>
                    <module>Imaginato_MailChimp</module>
                    <frontName>imaginato_mailchimp</frontName>
                </args>
            </imaginato_mailchimp>
        </routers>
        <layout>
            <updates>
                <imaginato_mailchimp module="Imaginato_MailChimp">
                    <file>imaginato/mailchimp.xml</file>
                </imaginato_mailchimp>
            </updates>
        </layout>
        <events>
            <customer_save_before>
                <observers>
                    <imaginato_mailchimp_customer_subscribe>
                        <class>imaginato_mailchimp/observer</class>
                        <method>customerSaveBefore</method>
                    </imaginato_mailchimp_customer_subscribe>
                </observers>
            </customer_save_before>
            <customer_save_after>
                <observers>
                    <imaginato_mailchimp_sync_customer_account>
                        <class>imaginato_mailchimp/observer</class>
                        <method>customerSyncMailchimp</method>
                    </imaginato_mailchimp_sync_customer_account>
                </observers>
            </customer_save_after>
            <customer_address_save_after>
                <observers>
                    <imaginato_mailchimp_sync_customer_account>
                        <class>imaginato_mailchimp/observer</class>
                        <method>customerAddressSync</method>
                    </imaginato_mailchimp_sync_customer_account>
                </observers>
            </customer_address_save_after>
            <sales_order_place_after>
                <observers>
                    <imaginato_mailchimp_new_order>
                        <class>imaginato_mailchimp/observer</class>
                        <method>onNewOrder</method>
                    </imaginato_mailchimp_new_order>
                </observers>
            </sales_order_place_after>
        </events>
    </frontend>
    <adminhtml>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <imaginato_mailchimp_alter_newsletter_grid>
                        <type>model</type>
                        <class>imaginato_mailchimp/observer</class>
                        <method>alterNewsletterGrid</method>
                    </imaginato_mailchimp_alter_newsletter_grid>
                </observers>
            </adminhtml_block_html_before>
            <core_block_abstract_to_html_before>
                <observers>
                    <mailchimp_add_abandoned_to_grid_order>
                        <type>model</type>
                        <class>imaginato_mailchimp/observer</class>
                        <method>addColumnToSalesOrderGrid</method>
                    </mailchimp_add_abandoned_to_grid_order>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </adminhtml>
</config>
