<?xml version="1.0"?>
<config>
  <modules>
    <Imaginato_ImportProductVideo>
      <version>0.0.1</version>
    </Imaginato_ImportProductVideo>
  </modules>
  <global>
    <helpers>
      <imaginato_importproductvideo>
        <class>Imaginato_ImportProductVideo_Helper</class>
      </imaginato_importproductvideo>
    </helpers>
  </global>
  <admin>
      <routers>
          <adminhtml>
              <args>
                  <modules>
                      <Imaginato_ImportProductVideo before="Mage_Adminhtml">Imaginato_ImportProductVideo_Adminhtml</Imaginato_ImportProductVideo>
                  </modules>
              </args>
          </adminhtml>
      </routers>
  </admin>
</config> 