<?xml version="1.0"?>
<config>
    <modules>
        <Imaginato_Security>
            <version>0.0.1</version>
        </Imaginato_Security>
    </modules>
    <global>
        <models>
            <imaginato_security>
                <class>Imaginato_Security_Model</class>
                <resourceModel>imaginato_security_resource</resourceModel>
            </imaginato_security>
            <imaginato_security_resource>
                <class>Imaginato_Security_Model_Resource</class>
                <deprecatedNode>adminhtml_mysql4</deprecatedNode>
                <entities>
                    <adminlog>
                        <table>log_admin_url</table>
                    </adminlog>
                </entities>
            </imaginato_security_resource>
        </models>
        <resources>
            <imaginato_security_setup>
                <setup>
                    <module>Imaginato_Security</module>
                </setup>
            </imaginato_security_setup>
        </resources>
        <template>
            <email>
                <admin_security_login_exception_alert_email_template translate="label" module="adminhtml">
                    <label>Login Exception Alert Email</label>
                    <file>admin_login_exception_alert_confirmation.html</file>
                    <type>html</type>
                </admin_security_login_exception_alert_email_template>
            </email>
        </template>
        <events>
            <adminhtml_controller_action_predispatch_start>
                <observers>
                    <store>
                        <class>imaginato_security/observer</class>
                        <method>checkAdminUrl</method>
                    </store>
                </observers>
            </adminhtml_controller_action_predispatch_start>
        </events>
    </global>
    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <imaginato_security_log>
                        <class>imaginato_security/observer</class>
                        <method>controllerPredispatch</method>
                    </imaginato_security_log>
                </observers>
            </controller_action_predispatch>
            <admin_session_user_login_success>
                <observers>
                    <imaginato_security_log>
                        <class>imaginato_security/observer</class>
                        <method>adminSessionLoginSuccess</method>
                    </imaginato_security_log>
                </observers>
            </admin_session_user_login_success>
            <admin_session_user_login_failed>
                <observers>
                    <imaginato_security_log>
                        <class>imaginato_security/observer</class>
                        <method>adminSessionLoginFailed</method>
                    </imaginato_security_log>
                </observers>
            </admin_session_user_login_failed>
        </events>
    </adminhtml>
    <default>
        <admin>
            <security>
                <white_list_ips>127.0.0.1</white_list_ips>
                <login_exception_alert_status>0</login_exception_alert_status>
                <login_exception_alert_email_template>admin_security_login_exception_alert_email_template</login_exception_alert_email_template>
            </security>
        </admin>
    </default>
</config>
