<config>
    <modules>
        <Imaginato_Catalog>
            <version>0.0.1</version>
        </Imaginato_Catalog>
    </modules>
    <global>
        <models>
            <imaginato_catalog>
                <class>Imaginato_Catalog_Model</class>
            </imaginato_catalog>
        </models>
        <blocks>
            <imaginato_catalog>
                <class>Imaginato_Catalog_Block</class>
            </imaginato_catalog>
            <adminhtml>
                <rewrite>
                    <catalog_category_tab_product>Imaginato_Catalog_Block_Adminhtml_Category_Tab_Product</catalog_category_tab_product>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <imaginato_catalog>
                <class>Imaginato_Catalog_Helper</class>
            </imaginato_catalog>
        </helpers>
        <events>
            <cataloginventory_stock_item_save_after>
                <observers>
                    <imaginato_update_product_status>
                        <class>imaginato_catalog/observer</class>
                        <method>saveStockAfter</method>
                    </imaginato_update_product_status>
                </observers>
            </cataloginventory_stock_item_save_after>
            <catalog_product_import_stock_finish_after>
                <observers>
                    <imaginato_update_product_status>
                        <class>imaginato_catalog/observer</class>
                        <method>importStockAfter</method>
                    </imaginato_update_product_status>
                </observers>
            </catalog_product_import_stock_finish_after>
        </events>
    </global>
    <frontend>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <Imaginato_Catalog before="Mage_Catalog">Imaginato_Catalog</Imaginato_Catalog>
                    </modules>
                </args>
            </catalog>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Imaginato_Catalog before="Mage_Adminhtml">Imaginato_Catalog_Adminhtml</Imaginato_Catalog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <catalog_category_index_flat_reindex_all>
                <schedule>
                    <cron_expr>0 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>imaginato_catalog/observer::reindexCategoryFlats</model>
                </run>
            </catalog_category_index_flat_reindex_all>
        </jobs>
    </crontab>

</config>