<?xml version="1.0" encoding="utf-8" ?>
<config>
    <modules>
        <Imaginato_Checkout>
            <version>0.0.1</version>
        </Imaginato_Checkout>
    </modules>
    <frontend>
        <secure_url>
            <checkout_cart>/checkout/cart/index</checkout_cart>
        </secure_url>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <imaginato_checkout before="Mage_Checkout">Imaginato_Checkout</imaginato_checkout>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <imaginato_checkout>
                    <file>imaginato/checkout.xml</file>
                </imaginato_checkout>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <imaginato_checkout>
                    <file>imaginato/discount.xml</file>
                </imaginato_checkout>
            </updates>
        </layout>
    </adminhtml>

    <global>
        <helpers>
            <imaginato_checkout>
                <class>Imaginato_Checkout_Helper</class>
            </imaginato_checkout>
        </helpers>
        <models>
            <imaginato_checkout>
                <class>Imaginato_Checkout_Model</class>
            </imaginato_checkout>
            <imaginato_discount>
                <class>Imaginato_Checkout_Model_Rule</class>
            </imaginato_discount>
            <salesrule>
                <rewrite>
                    <quote_discount>Imaginato_Checkout_Model_SalesRule_Quote_Discount</quote_discount>
                </rewrite>
            </salesrule>
        </models>
        <blocks>
            <imaginato_checkout>
                <class>Imaginato_Checkout_Block</class>
            </imaginato_checkout>
        </blocks>
        <resources>
            <imaginato_checkout_setup>
                <setup>
                    <module>Imaginato_Checkout</module>
                    <class>Imaginato_Checkout_Model_Resource_Setup</class>
                </setup>
            </imaginato_checkout_setup>
        </resources>
        <sales>
            <quote>
                <totals>
                    <discount>
                        <renderer>imaginato_checkout/checkout_discount</renderer>
                    </discount>
                </totals>
            </quote>
        </sales>
        <events>
            <salesrule_validator_process>
                <observers>
                    <imaginato_checkout_observers>
                        <type>singleton</type>
                        <class>imaginato_checkout/observer</class>
                        <method>handleValidation</method>
                    </imaginato_checkout_observers>
                </observers>
            </salesrule_validator_process>
            <sales_model_service_quote_submit_failure>
                <observers>
                    <inventory>
                        <class>imaginato_checkout/observer</class>
                        <method>revertQuoteInCrementId</method>
                    </inventory>
                </observers>
            </sales_model_service_quote_submit_failure>
        </events>
    </global>
    <default>
        <imaginato_checkout>
            <general>
                <open_discount_label>0</open_discount_label>
                <breakdown>1</breakdown>
            </general>
        </imaginato_checkout>
    </default>
</config>
