<?xml version="1.0"?>

<config>
    <modules>
        <Imaginato_TargetRule>
            <version>0.0.1</version>
        </Imaginato_TargetRule>
    </modules>
    <global>
        <blocks>
            <enterprise_targetrule>
                <rewrite>
                    <adminhtml_targetrule_edit_tab_main>Imaginato_TargetRule_Block_Adminhtml_Targetrule_Edit_Tab_Main</adminhtml_targetrule_edit_tab_main>
                </rewrite>
            </enterprise_targetrule>
        </blocks>
        <helpers>
            <enterprise_targetrule>
                <rewrite>
                    <data>Imaginato_TargetRule_Helper_Data</data>
                </rewrite>
            </enterprise_targetrule>
        </helpers>
        <models>
            <imaginato_targetrule>
                <class>Imaginato_TargetRule_Model</class>
            </imaginato_targetrule>
            <enterprise_targetrule>
                <rewrite>
                    <actions_condition_product_special>Imaginato_TargetRule_Model_Actions_Condition_Product_Special</actions_condition_product_special>
                </rewrite>
            </enterprise_targetrule>
            <enterprise_targetrule_resource>
                <rewrite>
                    <index>Imaginato_TargetRule_Model_Resource_Index</index>
                    <rule>Imaginato_TargetRule_Model_Resource_Rule</rule>
                </rewrite>
            </enterprise_targetrule_resource>
        </models>
    </global>
    <default>
        <catalog>
            <enterprise_targetrule>
                <max_product_list_result>20</max_product_list_result>
            </enterprise_targetrule>
        </catalog>
    </default>
    <crontab>
        <jobs>
            <enterprise_targetrule_product_refresh>
                <schedule>
                    <cron_expr>0 */6 * * *</cron_expr>
                </schedule>
                <run>
                    <model>imaginato_targetrule/product::cron</model>
                </run>
            </enterprise_targetrule_product_refresh>
        </jobs>
    </crontab>
</config>
