<?xml version="1.0"?>
<config>
    <modules>
        <Imaginato_Orderexport>
            <version>0.0.3</version>
        </Imaginato_Orderexport>
    </modules>
    <global>
        <blocks>
            <imaginato_orderexport>
                <class>Imaginato_Orderexport_Block</class>
            </imaginato_orderexport>
        </blocks>
        <models>
            <imaginato_orderexport>
                <class>Imaginato_Orderexport_Model</class>
                <resourceModel>imaginato_orderexport_resource</resourceModel>
            </imaginato_orderexport>
            <imaginato_orderexport_resource>
                <class>Imaginato_Orderexport_Model_Resource</class>
                <entities>
                    <lineitem>
                        <table>sales_order_flat_export_lineitem</table>
                    </lineitem>
                </entities>
            </imaginato_orderexport_resource>
            <Cleargo_Orderexport>
                <rewrite>
                    <export_lineitem>Imaginato_Orderexport_Model_Export_Lineitem</export_lineitem>
                    <export_orderperrow>Imaginato_Orderexport_Model_Export_Orderperrow</export_orderperrow>
                </rewrite>
            </Cleargo_Orderexport>
        </models>
        <resources>
            <imaginato_orderexport_setup>
                <setup>
                    <module>Imaginato_Orderexport</module>
                    <class>Imaginato_Orderexport_Model_Resource_Setup</class>
                </setup>
            </imaginato_orderexport_setup>
        </resources>
        <events>
            <sales_order_save_after>
                <observers>
                    <imaginato_orderexport>
                        <class>imaginato_orderexport/observer</class>
                        <method>resave_lineitem_order</method>
                    </imaginato_orderexport>
                </observers>
            </sales_order_save_after>
            <sales_order_payment_save_after>
                <observers>
                    <imaginato_orderexport>
                        <class>imaginato_orderexport/observer</class>
                        <method>resave_lineitem_payment</method>
                    </imaginato_orderexport>
                </observers>
            </sales_order_payment_save_after>
            <sales_order_shipment_save_after>
                <observers>
                    <imaginato_orderexport>
                        <class>imaginato_orderexport/observer</class>
                        <method>resave_lineitem_shipment</method>
                    </imaginato_orderexport>
                </observers>
            </sales_order_shipment_save_after>
            <sales_order_item_save_after>
                <observers>
                    <imaginato_orderexport>
                        <class>imaginato_orderexport/observer</class>
                        <method>resave_lineitem_item</method>
                    </imaginato_orderexport>
                </observers>
            </sales_order_item_save_after>
            <sales_order_address_save_after>
                <observers>
                    <imaginato_orderexport>
                        <class>imaginato_orderexport/observer</class>
                        <method>resave_lineitem_address</method>
                    </imaginato_orderexport>
                </observers>
            </sales_order_address_save_after>
            <sales_order_status_history_save_after>
                <observers>
                    <imaginato_orderexport>
                        <class>imaginato_orderexport/observer</class>
                        <method>resave_lineitem_history</method>
                    </imaginato_orderexport>
                </observers>
            </sales_order_status_history_save_after>
            <sales_order_invoice_save_after>
                <observers>
                    <imaginato_orderexport>
                        <class>imaginato_orderexport/observer</class>
                        <method>resave_lineitem_invoice</method>
                    </imaginato_orderexport>
                </observers>
            </sales_order_invoice_save_after>
        </events>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <imaginato_orderexport>
                        <class>imaginato_orderexport/initoptionaction</class>
                        <method>addMassAction</method>
                    </imaginato_orderexport>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </global>
    <admin>
         <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Imaginato_Orderexport before="Mage_Adminhtml">Imaginato_Orderexport</Imaginato_Orderexport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin> 
</config>
