<?xml version="1.0"?>
<config>
    <modules>
        <Imaginato_ProductPriceRules>
            <version>0.0.1</version>
        </Imaginato_ProductPriceRules>
    </modules>
    <global>
        <blocks>
            <skusrule>
                <class>Imaginato_ProductPriceRules_Block</class>
            </skusrule>
        </blocks>
        <helpers>
            <skusrule>
                <class>Imaginato_ProductPriceRules_Helper</class>
            </skusrule>
        </helpers>
        <models>
            <skusrule>
                <class>Imaginato_ProductPriceRules_Model</class>
                <resourceModel>skusrule_resource</resourceModel>
            </skusrule>
            <skusrule_resource>
                <class>Imaginato_ProductPriceRules_Model_Resource</class>
                <entities>
                    <rule_product_price>
                        <table>rules_product</table>
                    </rule_product_price>
                    <rule_product_sku>
                        <table>rules_product_sku</table>
                    </rule_product_sku>
                </entities>
            </skusrule_resource>
        </models>
        <resources>
            <skusrule_setup>
                <setup>
                    <module>Imaginato_ProductPriceRules</module>
                </setup>
            </skusrule_setup>
        </resources>
        <events>
            <!-- Remove product in rule -->
            <catalog_product_save_after>
                <observers>
                    <remove_skus_in_tule>
                        <class>skusrule/catalog_product_observer</class>
                        <method>updateProductInRule</method>
                    </remove_skus_in_tule>
                </observers>
            </catalog_product_save_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Imaginato_ProductPriceRules before="Mage_Adminhtml">Imaginato_ProductPriceRules_Adminhtml</Imaginato_ProductPriceRules>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <skusrule>
                    <file>imaginato/promo.xml</file>
                </skusrule>
            </updates>
        </layout>
    </adminhtml>
</config> 