<config>
    <modules>
        <Imaginato_Reward>
            <version>0.0.1</version>
        </Imaginato_Reward>
    </modules>
    <global>
        <models>
            <enterprise_reward_resource>
                <rewrite>
                    <reward_rate>Imaginato_Reward_Model_Resource_Reward_Rate</reward_rate>
                </rewrite>
            </enterprise_reward_resource>
            <enterprise_reward>
                <rewrite>
                    <reward>Imaginato_Reward_Model_Reward</reward>
                    <reward_rate>Imaginato_Reward_Model_Reward_Rate</reward_rate>
                </rewrite>
            </enterprise_reward>
            <salesrule>
                <rewrite>
                    <validator>Imaginato_Reward_Model_SalesRule_Validator</validator>
                </rewrite>
            </salesrule>
            <imaginato_reward>
                <class>Imaginato_Reward_Model</class>
                <resourceModel>imaginato_reward_resource</resourceModel>
            </imaginato_reward>
            <imaginato_reward_resource>
                <class>Imaginato_Reward_Model_Resource</class>
                <entities>
                    <reward_staging>
                        <table>enterprise_reward_staging</table>
                    </reward_staging>
                    <reward_coupon_history>
                        <table>enterprise_reward_coupon_history</table>
                    </reward_coupon_history>
                </entities>
            </imaginato_reward_resource>
        </models>
        <resources>
            <imaginato_reward_setup>
                <setup>
                    <module>Imaginato_Reward</module>
                    <class>Imaginato_Reward_Model_Resource_Setup</class>
                </setup>
            </imaginato_reward_setup>
        </resources>
        <blocks>
            <imaginato_reward>
                <class>Imaginato_Reward_Block</class>
            </imaginato_reward>
            <enterprise_reward>
                <rewrite>
                    <adminhtml_reward_rate_edit_form>Imaginato_Reward_Block_Adminhtml_Reward_Rate_Edit_Form</adminhtml_reward_rate_edit_form>
                    <adminhtml_reward_rate_edit_form_renderer_rate>Imaginato_Reward_Block_Adminhtml_Reward_Rate_Edit_Form_Renderer_Rate</adminhtml_reward_rate_edit_form_renderer_rate>
                    <adminhtml_reward_rate_grid>Imaginato_Reward_Block_Adminhtml_Reward_Rate_Grid</adminhtml_reward_rate_grid>
                </rewrite>
            </enterprise_reward>
        </blocks>
        <helpers>
            <imaginato_reward>
                <class>Imaginato_Reward_Helper</class>
            </imaginato_reward>
        </helpers>
        <events>
            <sales_order_save_after>
                <observers>
                    <enterprise_reward>
                        <class>imaginato_reward/observer</class>
                        <method>orderCompleted</method>
                    </enterprise_reward>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <imaginato_reward>
                    <file>imaginato_reward.xml</file>
                </imaginato_reward>
            </updates>
        </layout>
        <routers>
            <imaginato_reward>
                <use>standard</use>
                <args>
                    <module>Imaginato_Reward</module>
                    <frontName>reward_coupon</frontName>
                </args>
            </imaginato_reward>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <imaginato_reward before="Enterprise_Reward">Imaginato_Reward_Adminhtml</imaginato_reward>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <imaginato_reward>
                <schedule>
                    <cron_expr>*/2 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>imaginato_reward/cron::process</model>
                </run>
            </imaginato_reward>
        </jobs>
    </crontab>
</config>