<?xml version="1.0"?>
<config>
  <modules>
    <Imaginato_ImportProductImage>
      <version>0.0.1</version>
    </Imaginato_ImportProductImage>
  </modules>
  <global>
    <helpers>
      <importproductimage>
        <class>Imaginato_ImportProductImage_Helper</class>
      </importproductimage>
    </helpers>
  </global>
  <admin>
      <routers>
          <adminhtml>
              <args>
                  <modules>
                      <Imaginato_ImportProductImage before="Mage_Adminhtml">Imaginato_ImportProductImage_Adminhtml</Imaginato_ImportProductImage>
                  </modules>
              </args>
          </adminhtml>
      </routers>
  </admin>
</config> 