<?xml version="1.0" encoding="utf-8" ?>
<config>
    <modules>
        <Imaginato_Contacts>
            <version>0.1.6</version>
        </Imaginato_Contacts>
    </modules>
    <global>
        <models>
            <imaginato_contacts>
                <class>Imaginato_Contacts_Model</class>
                <resourceModel>imaginato_contacts_resource</resourceModel>
            </imaginato_contacts>
            <imaginato_contacts_resource>
              <class>Imaginato_Contacts_Model_Resource</class>
              <entities>
                <contacts>
                    <table>imaginato_contacts</table>
                </contacts>
                <enquerytype>
                    <table>cs_enquery_type</table>
                </enquerytype>
                <enquerytypestoreview>
                    <table>cs_enquery_type_store_view</table>
                </enquerytypestoreview>
                <enqueries>
                    <table>cs_enqueries</table>
                </enqueries>
                <enqueriesstoreview>
                    <table>cs_enqueries_store_view</table>
                </enqueriesstoreview>
              </entities>
            </imaginato_contacts_resource>
        </models>
        <blocks>
            <imaginato_contacts>
                <class>Imaginato_Contacts_Block</class>
            </imaginato_contacts>
        </blocks>
        <helpers>
            <imaginato_contacts>
                <class>Imaginato_Contacts_Helper</class>
            </imaginato_contacts>  
        </helpers>
        <resources>
            <imaginato_contacts_setup>
                <setup>
                    <module>Imaginato_Contacts</module>
                    <class>Imaginato_Contacts_Model_Resource_Setup</class>
                </setup>
            </imaginato_contacts_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <contacts>
                <args>
                    <modules>
                        <Imaginato_Contacts before="Mage_Contacts">Imaginato_Contacts</Imaginato_Contacts>
                    </modules>
                </args>
            </contacts>
        </routers>
        <layout>
            <updates>
                <imaginato_contacts>
                    <file>imaginato/contact.xml</file>
                </imaginato_contacts>
            </updates>
        </layout>
    </frontend>
	<adminhtml>
        <layout>
            <updates>
                <imaginato_contacts>
                    <file>imaginato/contact.xml</file>
                </imaginato_contacts>
            </updates>
        </layout>
    </adminhtml>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Imaginato_Contacts before="Mage_Adminhtml">Imaginato_Contacts_Adminhtml</Imaginato_Contacts>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	<default>
        <captcha  translate="label">
            <frontend>
                <areas>
                    <contacts>
                        <label>Contact us Form</label>
                    </contacts>
                </areas>
            </frontend>
        </captcha>
        <customer>
            <captcha>
                <always_for>
                    <contacts>1</contacts>
                </always_for>
            </captcha>
        </customer>
	</default>
</config>