<?xml version="1.0"?>
<config>
    <modules>
        <Imaginato_SpecialPrice>
            <version>0.0.1</version>
        </Imaginato_SpecialPrice>
    </modules>
    <global>
        <blocks>
            <imaginato_specialprice>
                <class>Imaginato_SpecialPrice_Block</class>
            </imaginato_specialprice>
        </blocks>
        <helpers>
            <imaginato_specialprice>
                <class>Imaginato_SpecialPrice_Helper</class>
            </imaginato_specialprice>
        </helpers>
        <models>
            <imaginato_specialprice>
                <class>Imaginato_SpecialPrice_Model</class>
                <resourceModel>imaginato_specialprice_resource</resourceModel>
            </imaginato_specialprice>
            <imaginato_specialprice_resource>
                <class>Imaginato_SpecialPrice_Model_Resource</class>
                <entities>
                    <record>
                        <table>special_price_record</table>
                    </record>
                    <record_website>
                        <table>special_price_record_website</table>
                    </record_website>
                    <record_product>
                        <table>special_price_record_product</table>
                    </record_product>
                </entities>
            </imaginato_specialprice_resource>
        </models>
        <resources>
            <imaginato_specialprice_setup>
                <setup>
                    <module>Imaginato_SpecialPrice</module>
                </setup>
            </imaginato_specialprice_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Imaginato_SpecialPrice before="Mage_Adminhtml">Imaginato_SpecialPrice_Adminhtml</Imaginato_SpecialPrice>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <skusrule>
                    <file>imaginato/specialprice.xml</file>
                </skusrule>
            </updates>
        </layout>
    </adminhtml>
</config> 